div.about {
    width: 100%;
    height: 100vh;
    background: url("../../assets/about.png"), linear-gradient(to right, #1A3B29, #266041);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}